:root {
  --primary-color: #051c84;

  --accent-color: #440347;
}
.search__header {
  color: var(--primary-color);

  display: flex;

  justify-content: space-around;
}

.search__background_container {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/marble_blue_horiz.png');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  justify-content: space-around;
  border-radius: 10px;
  opacity: 0.7;
  padding: 20px;
}

.search__form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  display: flex;

  border-radius: 10px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  .search__button:hover & {
    fill: white;
  }
}
.search__button {
  color: var(--primary-color);

  &:hover {
    background-color: var(--accent-color);
    border: var(--primary-color);
  }
}

.gallery {
  max-width: 1600px;
  padding: 0 30px;
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 80px 20px 0 20px;
}

.gallery__item {
  display: flex;
  flex-direction: row;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);

  justify-content: center;
  border-radius: 10px;
  padding: 10px 0;
  color: var(--accent-color);
}

.gallery__item-img {
  width: 350px;
  height: 240px;
  object-fit: cover;
  max-width: 100%;
  display: block;
  border-radius: 10px;
}
.info__list {
  display: flex;
  flex-direction: row;
  font-size: 11px;

  padding: 10px 0;
  justify-content: space-around;

  align-items: center;
  border-radius: 10px;
}
.info__list-item {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  width: 30px;
  text-align: center;
  color: var(--accent-color);
}
