 
  <h1 class="search__header"> Cool Image Super Search</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <section  class="hero">
   <div class="container, img_background_container">
 
 <form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="searchBtn">Search</button>
</form>
  
 
  <div class="gallery">
  <!-- Image cards -->
</div>

 <button type="button" class="loadMore">Load More</button>


</section>

